body {
  margin: 0;
  font-family: 'Roboto';
  background-color: var(--color-dark);
  color: var(--main-white);
}

* {
  margin: 0px;
}

h1, h2, h3 {
  margin: 20px 0px;
}

input:focus {
  outline: none;
}