.Card {
  height: 80px;
  width: 55px;
  border-radius: 5px;
  margin: 4px;
  display: inline-block;
}

.PopulatedCard {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 4px 0 rgba(95,94,94,0.80);
}

.EmptyCard {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
}

.CardRankContainer {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  height: 45px;
}

.CardSuitContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

.CardRank {
  font-size: 30px;
  margin-left: 8px;
  margin-top: 2px;
}

.CardSuit {
  height: 28px;
  margin-right: 4px;
  margin-bottom: 8px;
}

.red {
  color: #F45151;
}

.black {
  color: #504F56;
}

.Clickable:hover {
  cursor: pointer;
}

.Overlap {
  margin-left: -15px;
  margin-right: 0px;
}
